.editor {
  margin: 20px 80px;
  width: 80%;
  border: 2px solid black;
}
.preview {
  margin: 20px 80px;
  padding-left: 10px;
  width: 80%;
  min-height: 200px;
  border: 2px solid black;
  border-radius: 10px;
}
.priview-heading {
  font-size: 20px;
  margin-left: 100px;
}
.wrapper-class{
  padding-left: 10px;
}

.pdf-preview {
  width: 800px;
  height: 900px;
  margin: 20px 80px;
}